extends ./layout/main.pug

block content
    .login_wrapper
        h1 Fake CatchMind
        form(action="/login" method="post")
            input(type="text", name="nickname" placeholder="Nickname" autocomplete="off")
            input(type="password", name="password" placeholder="Password")
            input(type="submit", value="LOGIN")
        a(href="/join") JOIN

        div.login_message=message

