extends ./layout/main.pug

block content
    .join_wrapper
        h1 JOIN
        form(action="post")
            input(type="text", name="nickname" placeholder="아이디" autocomplete="off")
            input(type="password", name="password" placeholder="비밀번호")
            input(type="password", name="repassword" placeholder="비밀번호 확인")
            input(type="submit", value="JOIN")
        a(href="/") 로그인