extends ./layout/main.pug

block content
    .join_wrapper
        h1 JOIN
        form(action="/join" method="post")
            input(type="text", name="nickname" placeholder="Nickname" autocomplete="off")
            input(type="password", name="password" placeholder="Password")
            input(type="password", name="repassword" placeholder="Confirm Password")
            input(type="submit", value="JOIN")
        a(href="/") LOG IN